body{
  background-color: $brain;
  display: grid;

  font-family: "Avenir Next",NB Akademie Std,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue",Helvetica, sans-serif;
  overflow-x: hidden;
}
